{
  "trailingComma": "none",
  "arrowParens": "always",
  "parser": "typescript",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 90
      }
    }
  ]
}
